{{#if talismans}}
  <div class="pill pill-medium talisman-spell"><span
      class="label font-label-medium color-text-lighter"
    >{{localize "ROS5E.Talisman.Label"}}</span>
    <span class="value"><span
        class="font-data-medium"
      >{{talismans.used.length}}/{{talismans.created}}</span></span>
  </div>
{{/if}}