{{#if isSybActor}}
  <button
    type="button"
    class="button button-icon-only extended-rest button-gold"
    data-tooltip="{{localize 'ROS5E.Rest.Extended'}}"
    aria-label="{{localize 'ROS5E.Rest.Extended'}}"
  >
    <i class="fas fa-house"></i>
  </button>
{{/if}}