{{#if runes}}
  <div class="pill pill-medium rune-spell"><span
      class="label font-label-medium color-text-lighter"
    >{{localize "ROS5E.Rune.Label"}}</span>
    <span class="value"><span
        class="font-data-medium"
      >{{runes.prepared}}/{{runes.max}}</span></span>
  </div>
{{/if}}